<h1>@user.username</h1>
<% @user.tweets.each do |tweet| %>
  <div class="tweet">
    <p><%= tweet.user.username %></p>
    <p><%= tweet.created_at %></p>
    <p><%= tweet.content %></p>
  </div>
<% end %>

<form action="/users/settings" method="post">
  <input name="_method" type="hidden" value="delete">
  <input type="submit" value="Delete Account">
</form>

<form action="/user/settings">
  <input type="text" type="hidden" value="put">
  <input type="text" name="first_name" value="<%= @user.first_name %>" />
  <input type="text" name="last_name" value="<%= @user.last_name %>" />
  <input type="text" name="email" value="<%= @user.email %>" />
  <input type="text" name="city" value="<%= @user.city %>" />
  <input type="text" name="state" value="<%= @user.state %>" />
  <input type="submit" value="submit" />
</form>
