<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/foundation/css/normalize.css">
  <link rel="stylesheet" href="/foundation/css/foundation.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css"></script>
  <script src="/foundation/js/vendor/modernizr.js"></script>
  <script src="/js/application.js"></script>
  <title>Lil-Twit</title>
</head>
<header>
  <div class="buttons">
  </div>
</header>
<body>
  <div class="row">
    <div class="small-1 medium-1 large-1 columns"></div>
    <div class="small-11 medium-11 large-11 columns">

      <h2><a href="/">Lil-Twit</a> <small>The significantly worse way to waste your time</small>
          <% if logged_in? %>
            <span class="handleIntro"><%= "Hello, #{current_user.username}" %></span>
            <%= erb :'/partials/_log_out' %>
          <% end %>
          </h2>

    <div class="row">
      <div class="small-11 medium-11 large-11 small-center medium-center large-center columns">
        <ul class="button-group">

        <% unless logged_in? %>
          <li><a href="/sessions/new" class="button">Login</a></li>
          <li><a href="/users/new" class="button">Sign Up</a></li>
        <% else %>
          <li><a href="/users/<%= current_user.id %>" class="button">Ur Profile</a></li>
          <li><a href="/users/<%= current_user.id %>/timeline" class="button">Ur Timeline</a></li>
          <!-- <li><a href="/nowhere" class="button">Logout</a></li> -->
        <% end %>

          <li><a href="/tweets" class="button">View all tweets</a></li>
          <li><a href="/users" class="button">View all users</a></li>
          <li><a href="/nowhere" class="button">Go No Where</a></li>
          <li> <%= erb :'/partials/_user_search' %> </li>
        </ul>
      </div>
    </div>
        <%= yield %>
    </div>
  </div>
  <div class="row">
    <div class="small-1 medium-1 large-1 columns"></div>
    <div class="small-11 medium-11 large-11 columns">
      <footer>
        <p>Copyright Lil-Twit 2015</p>
      </footer>
    </div>
  </div>
  <script src="/foundation/js/vendor/jquery.js"></script>
  <script src="/foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
